header {
  height: 64px;
  box-shadow: none;
  display: flex;
  align-items: stretch;
  position: relative;
  z-index: 0;
  border-bottom: 2px solid #FBB4B0;}
.icon {
  color: #d70f64;
  font-size: 11pt;
}

.top-section {
  top: 0;
  z-index: 1400;
  position: fixed;
  width: 100%;
  transition: top 200ms;
}

.tools-wrapper {
  z-index: 1;
  display: flex;
  align-content: stretch;
}

.logo-wrapper {
  /* flex-grow: 1;
    width: 15%; */
  display: flex;
  justify-content: flex-start;
}

a {
  cursor: pointer;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mac-logo {
  max-width: 140px;
  height: 100%;
}

.logo-container {
  height: 100%;
}

.tools-wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.link {
  width: 100%;
  color: #d70f64;
  font-size: 0.8em;
  height: 64px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.icon:hover {
  color: #d70f64;
  text-decoration: none;
}

.contacts-icon {
  height: 40px;
  margin: 0 15px;
}

.icons {
  position: flex;
  justify-content: center;
}

.icons:hover {
  background-color: pink;
  color: white;
}

.icons:hover {
  background-blend-mode: screen;
  color: white;
}

.link::before {
  content: "";
  width: 1px;
  background: #ebebeb;
  height: 37.5%;
  position: absolute;
  left: 0;
  top: 31.25%;
}

.icon-wrapper {
  width: 49%;
  display: flex;
  justify-content: center;
}

hr {
  width: 0.5px;
  height: 20px;
  display: inline-block;
}
