* {
  font-family: "MuseoSans", Arial, sans-serif;
}

.lips {
  margin-top: 1vh;
  margin-left: 7.5%;
  width: 85vw;
  background: #fff left top no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-section {
  /* height: 35vh; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.hero-section-text {
  width: 80vw !important;
  padding: 48px 0 48px 0;
}

.hero-section-summary {
  width: 80vw;
  padding: 48px 10px;
  margin: 0 auto;
}
