.category {
  margin: 20px;
  display: flex;
  flex-direction: row;
  border: 2px solid black;
  width: 19%;
  min-width: 200px;
}
.category-div {
  position: relative;
  color: white;
  display: flex;
}
.category-name {
  bottom: 20px;
  left: 20px;
  font-size: 2em;
  font-weight: bold;
}
.category-pic {
  min-width: 100%;
  max-width: 100%;
  max-height: 100%;
  min-height: 100%;
  object-fit: cover;
  opacity: 1;
}
.category:hover {
  opacity: 0.5;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-transform: scale(1.06);
  transform: scale(1.06);
  cursor: pointer;
}
.info {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.category-name {
  font-size: 1.3em;
  color: black;
  font-weight: bold;
  margin-right: 20px;
}
.category-price {
  color: black;
  font-size: 0.9em;
  margin-right: 10px;
  margin-top: 10px;
}

.category-rating {
  color: black;
  font-size: 0.9em;
  margin-top: 10px;
}
a {
  text-decoration: none;
}
