.CategoryList{
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     flex-wrap: wrap;
     width: 90%;
}

.stores {
    width: 100%;
    height: auto;

}
.h1-stores {
    font-weight: bold;
    color: rgba(0,0,0,0.1);
    font-size: 6.2rem;
    margin: 0;
}
h2.stores-categories {
    font-weight: 100;
    position: absolute;
    transform: translateY(-4vh)
}