.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.border{
        color: green;
        height:5px;
        background-color: white;
}